<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xloger.exlink.app" >

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="屏蔽QQ等App的内置浏览器" />
        <meta-data
            android:name="xposedminversion"
            android:value="40" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StepTwoActivity"
            android:label="@string/step_two" >
        </activity>
        <activity
            android:name=".activity.StepThreeActivity"
            android:label="@string/step_three" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="exlink" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReadMeActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:label="readme" >
        </activity>
    </application>

</manifest>
